In [1]:
import pandas as pd 
# card1 = 201901-202003 카드사용량
# card2 = 202004 카드사용량
# wage = 구별 소득
raw1=pd.read_csv('c:/data/personal/card1.csv')
raw2=pd.read_csv('c:/data/personal/card2.csv')
wage=pd.read_csv('c:/data/personal/wage.csv',encoding='cp949')

In [2]:
# 201901-202003 데이터읽기
raw1.head(100000000)

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [3]:
# 202004 데이터읽기
raw2.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,3,779600,4
1,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,2,3,14,2427700,15
2,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,1,4,18,2184600,18
3,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,2,4,21,3653100,23
4,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,60s,1,5,15,2765500,18

In [4]:
# 시군구별 평균소득월액 데이터읽기
wage.head()

     HOME     WAGE
0  강원 강릉시  1879834
1  강원 고성군  1928694
2  강원 동해시  1882971
3  강원 삼척시  2138766
4  강원 속초시  1795991

In [5]:
# 카드데이터병합
card=pd.concat([raw1,raw2])
# 데이터 컬럼명 변경 
card.columns=['DATE',"CARD_AREA","CARD_AREA_D","CLASS","HOME","HOME_D","AGE","SEX","HOUSE","CLIENT","AMT","CNT"]

In [6]:
# wage데이터를 병합하기 위해 거주지역시도+거주지역 시군구
card['HOME']=card['HOME'].map(str)+" "+card['HOME_D']
# 데이터가 중복되므로 거주지역 시군구 삭제
card=card.drop(['HOME_D'],axis='columns')
# 카드데이터에서 wage에 없는 시군구 선택
mask=card['HOME'].isin(['경기 고양시 일산동구','경기 고양시 일산서구','경기 성남시 수정구','경기 성남시 중원구','경기 수원시 장안구',
'경기 수원시 팔달구','경기 안산시 상록구','경기 용인시 수지구','경기 용인시 처인구','경남 창원시 마산회원구'
,'경남 창원시 성산구','경남 창원시 성산구','경남 창원시 진해구','경북 포항시 북구','전북 전주시 완산구','충남 천안시 서북구','충북 청주시 서원구','충북 청주시 청원구','충북 청주시 흥덕구','경기 수원시 영통구','경기 안양시 만안구','경남 창원시 의창구'])
# 카드데이터에서 wage에 없는 시군구만 삭제하기
card_remove=card[~mask]

In [7]:
# 전처리가 완료된 카드데이터와 시군구별 월소득액 데이터 조인 
card=pd.merge(card_remove,wage)

In [8]:
# 최종확인
card.head()

,DATE,CARD_AREA,CARD_AREA_D,CLASS,HOME,AGE,SEX,HOUSE,CLIENT,AMT,CNT,WAGE
0,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,20s,1,1,4,311200,4,1879834
1,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,1,2,7,1374500,8,1879834
2,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,2,2,6,818700,6,1879834
3,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,3,4,1717000,5,1879834
4,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,4,3,1047300,3,1879834

In [9]:
# 새로운 파생변수 CANCEL (카드취소) 추가
# 이용고객수가 이용건수보다 크다는 것은 일부고객중에는 사용하고 취소한사례가 있다는 것을 의미한다. 
# 즉 이용건수 - 총 고객수 = 음수가 나오면 결제가 취소된 것을 의미한다. 
card['CANCEL']=card['CNT']-card['CLIENT']
# 0 = 정상거래 0보다 클 경우: 카드취소거래  
card['CANCEL']=card['CANCEL'].apply(lambda x: 0 if x > 0 else x*-1 )

In [10]:
card.head(100000000)

,DATE,CARD_AREA,CARD_AREA_D,CLASS,HOME,AGE,SEX,HOUSE,CLIENT,AMT,CNT,WAGE,CANCEL
0,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,20s,1,1,4,311200,4,1879834,0
1,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,1,2,7,1374500,8,1879834,0
2,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,2,2,6,818700,6,1879834,0
3,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,3,4,1717000,5,1879834,0
4,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,4,3,1047300,3,1879834,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22681413,202004,서울,중구,택시 운송업,경남 의령군,50s,2,4,16,322960,24,1970021,0
22681414,202004,서울,중구,택시 운송업,경남 의령군,60s,1,5,12,674320,26,1970021,0
22681415,202004,서울,중구,택시 운송업,경남 의령군,60s,2,5,9,599600,48,1970021,0
22681416,202004,전남,광양시,한식 음식점업,경남 의령군,50s,1,4,6,62900,9,1970021,0
22681417,202004,충남,금산군,한식 음식점업,경남 의령군,50s,1,4,4,45500,5,1970021,0

In [11]:
# 각 컬럼의 고유값들을 확인
# 카드 사용처_구에서 'nan' 결측치를 발견 
print('========================================날짜========================================\n',card['DATE'].unique())
print('========================================카드사용처_지역========================================\n',card['CARD_AREA'].unique())
print('========================================카드사용처_구========================================\n',card['CARD_AREA_D'].unique())
print('========================================사용업종========================================\n',card['CLASS'].unique())
print('========================================사는지역========================================\n',card['HOME'].unique())
print('========================================사는지역_구========================================\n',card['AGE'].unique())
print('========================================성별========================================\n',card['SEX'].unique())
print('========================================가구형태========================================\n',card['HOUSE'].unique())
print('========================================고객수========================================\n',card['CLIENT'].unique())
print('========================================거래금액========================================\n',card['AMT'].unique())
print('========================================이용건수========================================\n',card['CNT'].unique())
print('========================================구별평균소득========================================\n',card['WAGE'].unique())
print('========================================카드결제취소수========================================\n',card['CANCEL'].unique())

========================================날짜========================================
 [201901 201902 201903 201904 201905 201906 201907 201908 201909 201910
 201911 201912 202001 202002 202003 202004]
========================================카드사용처_지역========================================
 ['강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북'
 '제주' '충남' '충북']
========================================카드사용처_구========================================
 ['강릉시' '고성군' '동해시' '삼척시' '속초시' '양구군' '양양군' '영월군' '원주시' '인제군' '정선군' '철원군'
 '춘천시' '태백시' '평창군' '홍천군' '화천군' '횡성군' '가평군' '고양시 덕양구' '고양시 일산동구' '고양시 일산서구'
 '광명시' '광주시' '구리시' '군포시' '김포시' '남양주시' '동두천시' '부천시' '성남시 분당구' '성남시 수정구'
 '성남시 중원구' '수원시 권선구' '수원시 영통구' '수원시 장안구' '수원시 팔달구' '시흥시' '안산시 단원구'
 '안산시 상록구' '안성시' '안양시 동안구' '안양시 만안구' '양주시' '양평군' '여주시' '연천군' '오산시'
 '용인시 기흥구' '용인시 수지구' '용인시 처인구' '의왕시' '의정부시' '이천시' '파주시' '평택시' '포천시' '하남시'
 '화성시' '거제시' '거창군' '김해시' '사천시' '양산시' '진주시' '창원시 마산회원구' '창원시 성산구' '창원시 진해구'
 '통영시' '함안군' '함양군' '경산시' '경주시' '구미시' '군위군' '안동시' '영덕군' '울진군' '청도군' '칠곡군'
 '포항시 남구' '포항시 북구' '광산구' '동구' '서구' '남구' '달서구' '달성군' '북구' '수성구' '중구' '유성구'
 '금정구' '기장군' '부산진구' '수영구' '연제구' '영도구' '해운대구' '강남구' '강동구' '강북구' '강서구' '관악구'
 '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구'
 '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중랑구' nan '울주군' '계양구' '남동구' '부평구'
 '연수구' '광양시' '목포시' '순천시' '여수시' '장성군' '고창군' '군산시' '완주군' '익산시' '전주시 덕진구'
 '전주시 완산구' '서귀포시' '제주시' '계룡시' '공주시' '논산시' '당진시' '서산시' '아산시' '천안시 동남구'
 '천안시 서북구' '청양군' '태안군' '단양군' '음성군' '제천시' '진천군' '청주시 상당구' '청주시 서원구'
 '청주시 청원구' '청주시 흥덕구' '충주시' '창녕군' '합천군' '문경시' '봉화군' '영주시' '대덕구' '동래구' '사하구'
 '임실군' '장수군' '금산군' '홍성군' '옥천군' '과천시' '산청군' '창원시 마산합포구' '창원시 의창구' '김천시'
 '울릉군' '의성군' '사상구' '옹진군' '보령시' '서천군' '보은군' '청송군' '강화군' '무안군' '함평군' '부안군'
 '부여군' '괴산군' '예천군' '담양군' '구례군' '화순군' '보성군' '신안군' '남원시' '영동군' '영천시' '상주시'
 '나주시' '성주군' '해남군' '예산군' '완도군' '진안군' '강진군' '무주군' '증평군' '순창군' '영광군' '영암군'
 '정읍시' '남해군' '밀양시' '진도군' '고흥군' '장흥군' '김제시' '곡성군' '하동군' '고령군' '의령군' '영양군']
========================================사용업종========================================
 ['건강보조식품 소매업' '골프장 운영업' '과실 및 채소 소매업' '관광 민예품 및 선물용품 소매업'
 '그외 기타 스포츠시설 운영업' '그외 기타 종합 소매업' '기타 대형 종합 소매업' '기타 외국식 음식점업' '기타 주점업'
 '기타음식료품위주종합소매업' '마사지업' '비알콜 음료점업' '빵 및 과자류 소매업' '서양식 음식점업' '수산물 소매업'
 '슈퍼마켓' '스포츠 및 레크레이션 용품 임대업' '여관업' '욕탕업' '육류 소매업' '일반유흥 주점업' '일식 음식점업'
 '전시 및 행사 대행업' '중식 음식점업' '차량용 가스 충전업' '차량용 주유소 운영업' '체인화 편의점'
 '피자 햄버거 샌드위치 및 유사 음식점업' '한식 음식점업' '화장품 및 방향제 소매업' '휴양콘도 운영업' '여행사업' '호텔업'
 '면세점' '택시 운송업' '내항 여객 운송업' '정기 항공 운송업' '버스 운송업' '자동차 임대업' '기타 수상오락 서비스업'
 '그외 기타 분류안된 오락관련 서비스업']
========================================사는지역========================================
 ['강원 강릉시' '강원 속초시' '강원 동해시' '강원 춘천시' '강원 평창군' '경기 성남시 분당구' '경기 안산시 단원구'
 '경기 용인시 기흥구' '서울 강남구' '강원 영월군' '강원 원주시' '강원 정선군' '강원 홍천군' '강원 횡성군'
 '경기 가평군' '경기 고양시 덕양구' '경기 광명시' '경기 광주시' '경기 구리시' '경기 군포시' '경기 김포시'
 '경기 남양주시' '경기 부천시' '경기 수원시 권선구' '경기 시흥시' '경기 안성시' '경기 안양시 동안구' '경기 양주시'
 '경기 양평군' '경기 여주시' '경기 오산시' '경기 의왕시' '경기 의정부시' '경기 이천시' '경기 파주시' '경기 평택시'
 '경기 포천시' '경기 하남시' '경기 화성시' '경북 상주시' '경북 포항시 남구' '대구 달서구' '대전 대덕구' '대전 서구'
 '대전 유성구' '서울 강동구' '서울 강북구' '서울 강서구' '서울 관악구' '서울 광진구' '서울 구로구' '서울 금천구'
 '서울 노원구' '서울 도봉구' '서울 동대문구' '서울 동작구' '서울 마포구' '서울 서대문구' '서울 서초구' '서울 성동구'
 '서울 성북구' '서울 송파구' '서울 양천구' '서울 영등포구' '서울 용산구' '서울 은평구' '서울 종로구' '서울 중구'
 '서울 중랑구' '인천 계양구' '인천 남구' '인천 남동구' '인천 부평구' '인천 서구' '인천 연수구' '충남 아산시'
 '충남 천안시 동남구' '충북 괴산군' '충북 제천시' '충북 진천군' '충북 청주시 상당구' '충북 충주시' '대구 북구'
 '강원 고성군' '강원 삼척시' '강원 양양군' '강원 인제군' '강원 태백시' '경남 김해시' '경남 양산시'
 '경남 창원시 마산합포구' '경북 경산시' '경북 경주시' '경북 구미시' '경북 안동시' '경북 울진군' '광주 광산구'
 '광주 북구' '대구 남구' '대구 달성군' '대구 동구' '대구 수성구' '대전 동구' '대전 중구' '부산 금정구'
 '부산 기장군' '부산 동래구' '부산 부산진구' '부산 북구' '부산 사하구' '부산 해운대구' '울산 남구' '울산 동구'
 '울산 북구' '인천 동구' '전남 목포시' '전북 군산시' '전북 익산시' '제주 제주시' '충남 논산시' '충남 당진시'
 '충남 서산시' '충북 음성군' '경기 과천시' '경기 동두천시' '경북 영주시' '광주 남구' '광주 서구' '대구 서구'
 '울산 중구' '인천 중구' '전남 순천시' '경기 연천군' '경남 진주시' '부산 강서구' '부산 사상구' '부산 연제구'
 '충남 계룡시' '충남 공주시' '강원 철원군' '인천 강화군' '전남 여수시' '울산 울주군' '경남 거제시' '경북 봉화군'
 '경북 영덕군' '부산 남구' '충북 단양군' '강원 양구군' '강원 화천군' '경북 김천시' '경북 예천군' '경북 칠곡군'
 '광주 동구' '대구 중구' '부산 수영구' '부산 영도구' '전남 광양시' '제주 서귀포시' '충남 보령시' '충남 홍성군'
 '경남 사천시' '경남 통영시' '경북 영천시' '전북 김제시' '충남 서천군' '충북 옥천군' '충북 증평군' '경북 울릉군'
 '부산 동구' '부산 서구' '전남 화순군' '충남 예산군' '전북 완주군' '충남 태안군' '전남 나주시' '경남 창녕군'
 '전북 정읍시' '경남 밀양시' '경남 함안군' '부산 중구' '전남 담양군' '전북 부안군' '충남 부여군' '경북 의성군'
 '경북 문경시' '경북 청송군' '전남 영암군' '전북 남원시' '충남 금산군' '충북 보은군' '경남 산청군' '경남 거창군'
 '경남 함양군' '경북 고령군' '경북 청도군' '충북 영동군' '전남 무안군' '전남 해남군' '경남 하동군' '전남 구례군'
 '전남 완도군' '경남 합천군' '경북 성주군' '전남 장성군' '전북 고창군' '전북 무주군' '경남 남해군' '경북 군위군'
 '전남 신안군' '전남 영광군' '전북 임실군' '충남 청양군' '경남 고성군' '전남 보성군' '인천 옹진군' '전남 고흥군'
 '전남 강진군' '전남 진도군' '전남 곡성군' '전남 함평군' '경북 영양군' '전남 장흥군' '전북 진안군' '전북 순창군'
 '전북 장수군' '경남 의령군']
========================================사는지역_구========================================
 ['20s' '30s' '40s' '50s' '60s' '70s' '10s']
========================================성별========================================
 [1 2]
========================================가구형태========================================
 [1 2 3 4 5]
========================================고객수========================================
 [    4     7     6 ... 10648  9704  8768]
========================================거래금액========================================
 [ 311200 1374500  818700 ... 5885326  553853 1262949]
========================================이용건수========================================
 [    4     8     6 ... 13676 17636 20089]
========================================구별평균소득========================================
 [1879834 1795991 1882971 1913397 1865679 2678404 2392167 2480416 2759031
 1906465 2312604 2466599 1978057 1936773 1893631 1976996 2160589 2151478
 1859065 2183019 2240729 1883134 2017712 2746762 2397567 2385263 2360169
 2029303 1785488 2056349 2091623 2260217 1742987 2893320 2155460 2604783
 2115007 2082985 2669953 1749071 2585727 2144833 2611131 1935030 2540552
 2308384 1655036 2503888 1823791 1997491 2348314 2548108 1782631 1679599
 2033946 2097330 2455158 2288074 3009448 2476470 1822824 2483148 1963020
 3182411 2539369 1736519 3007628 3120706 1795134 1822802 1870321 2263479
 2196903 2223604 2370834 2555003 2334384 2009274 1872923 2628748 2194768
 2047089 1971452 1928694 2138766 1790114 1726598 1950194 2221890 2292033
 2395638 2111205 2588636 2351791 1854599 2024425 2180461 1918399 1756888
 2359960 2103605 1910259 2187359 1819046 1964808 2213594 1899069 2025964
 1726353 2054407 2031148 2388351 2968507 2385524 2731778 1719236 2132924
 1940532 2015490 1926424 2680560 2604607 2579271 2452834 1841616 1862650
 1799856 2157469 1949831 2261679 2478842 1866934 1872702 2207642 2760255
 2224061 1943907 1767242 2244585 1731115 1888932 2353688 2528967 2607185
 1656411 1731845 2335888 1922435 1628153 1692832 2476930 1674278 2171821
 2028054 1960344 1848566 2219032 2333251 1969949 2205528 1893752 2370039
 1803966 2223838 1979854 2034902 2007468 2098360 1816841 2256578 1962555
 2062360 2108479 2243519 2183920 3113178 2135205 1810286 1960781 2438629
 2427117 1919685 1732616 1842486 1674522 1788218 1611175 2329329 1686999
 2231226 2133702 1780185 1755211 1740939 2171767 1783680 1787824 1783859
 1788135 1764796 1671493 1636068 1700104 2048485 2018537 1683283 1732371
 1649370 1865605 1565294 1840553 1737185 1890149 2076405 1679129 1821610
 1633216 1700589 1646850 1744248 1826270 1570681 1679190 1704945 1688645
 1666107 1970021]
========================================카드결제취소수========================================
 [  0   1   3   2   5   4   6   7   8   9  12  13  10  51  15  16  24  11
  25  28  20  67  62 112 103  65  14  17  44  83  60  35  29  19  21  23
  49  39  38  27  26  31  37  82  90  71  18  36 105  68  33 101 100  22
 135  59  32  30  42  64  73  53  46  34  58  41  54  40  79  84  76  50
  61  47  48  63  55 104  93  45  88  70  43  91  72  52  66 108  57  75
  96  85  77 121  56  78  81 157 234 236 151  86  94]

In [12]:
# 결측치 총 개수 확인 
card.isnull().sum()

DATE               0
CARD_AREA          0
CARD_AREA_D    67741
CLASS              0
HOME               0
AGE                0
SEX                0
HOUSE              0
CLIENT             0
AMT                0
CNT                0
WAGE               0
CANCEL             0
dtype: int64

In [13]:
# 약 22681418 건의 거래데이터가 존재
# 충분한 데이터가 있다고 판단하에 카드 사용처_구에 결측치를 제거 
card_no_na=card.dropna()

In [14]:
# 결측치 총 개수 재확인 
card_no_na.isnull().sum()

DATE           0
CARD_AREA      0
CARD_AREA_D    0
CLASS          0
HOME           0
AGE            0
SEX            0
HOUSE          0
CLIENT         0
AMT            0
CNT            0
WAGE           0
CANCEL         0
dtype: int64

In [15]:
#  데이터값 바꿔주기
def test1(x):
    if x=='60s': return '60대'
    elif x=='50s': return '50대'
    elif x=='40s': return '40대'
    elif x=='30s': return '30대'
    elif x=='20s': return '20대'
    else: return '10대'

def test2(x):
    if x==1: return '남성'
    else: return '여성'

def test3(x):
    if x==1: return '1인가구'
    elif x==2: return '영유아자녀가구'
    elif x==3: return '중고생자녀가구'
    elif x==4: return '성인자녀가구'
    else: return '노년가구'


card_no_na['AGE']=card_no_na['AGE'].apply(test1)
card_no_na['SEX']=card_no_na['SEX'].apply(test2)
card_no_na['HOUSE']=card_no_na['HOUSE'].apply(test3)

In [16]:
card_no_na.head()

,DATE,CARD_AREA,CARD_AREA_D,CLASS,HOME,AGE,SEX,HOUSE,CLIENT,AMT,CNT,WAGE,CANCEL
0,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,20대,남성,1인가구,4,311200,4,1879834,0
1,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30대,남성,영유아자녀가구,7,1374500,8,1879834,0
2,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30대,여성,영유아자녀가구,6,818700,6,1879834,0
3,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40대,남성,중고생자녀가구,4,1717000,5,1879834,0
4,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40대,남성,성인자녀가구,3,1047300,3,1879834,0

In [17]:
# # csv로 저장 
# card_no_na.to_csv('c:/data/personal/wagecancel_add.csv',index=False)