In [20]:
import pandas as pd 
# card1 = 201901-202003 카드사용량
# card2 = 202004 카드사용량
# wage = 구별 소득
row1=pd.read_csv('c:/data/personal/card1.csv')
row2=pd.read_csv('c:/data/personal/card2.csv')
wage=pd.read_csv('c:/data/personal/wage.csv',encoding='cp949')

In [21]:
# 201901-202003 데이터읽기
row1.head(100000000)

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,20s,1,1,4,311200,4
1,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,1,2,7,1374500,8
2,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,30s,2,2,6,818700,6
3,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,4,1717000,5
4,201901,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,4,3,1047300,3
...,...,...,...,...,...,...,...,...,...,...,...,...
24697787,202003,충북,충주시,휴양콘도 운영업,충북,충주시,30s,1,2,3,43300,4
24697788,202003,충북,충주시,휴양콘도 운영업,충북,충주시,40s,1,3,3,35000,3
24697789,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,1,4,4,188000,6
24697790,202003,충북,충주시,휴양콘도 운영업,충북,충주시,50s,2,4,4,99000,6
24697791,202003,충북,충주시,휴양콘도 운영업,충북,충주시,60s,1,5,3,194000,3

In [22]:
# 202004 데이터읽기
row2.head()

,REG_YYMM,CARD_SIDO_NM,CARD_CCG_NM,STD_CLSS_NM,HOM_SIDO_NM,HOM_CCG_NM,AGE,SEX_CTGO_CD,FLC,CSTMR_CNT,AMT,CNT
0,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,1,3,3,779600,4
1,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,40s,2,3,14,2427700,15
2,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,1,4,18,2184600,18
3,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,50s,2,4,21,3653100,23
4,202004,강원,강릉시,건강보조식품 소매업,강원,강릉시,60s,1,5,15,2765500,18

In [23]:
# 시군구별 평균소득월액 데이터읽기
wage.head()

     HOME     Wage
0  강원 강릉시  1879834
1  강원 고성군  1928694
2  강원 동해시  1882971
3  강원 삼척시  2138766
4  강원 속초시  1795991

In [24]:
# 카드데이터병합
card=pd.concat([row1,row2])
# 데이터 컬럼명 변경 
card.columns=['DATE',"CARD_AREA","CARD_AREA_D","CLASS","HOME","HOME_D","AGE","SEX","HOUSE","CLIENT","AMT","CNT"]

In [25]:
# wage데이터랑 병합하기 위해 전처리
card['HOME']=card['HOME'].map(str)+" "+card['HOME_D']
card=card.drop(['HOME_D'],axis='columns')
# 카드데이터에서 wage에 없는 시군구 선택
mask=card['HOME'].isin(['경기 고양시 일산동구','경기 고양시 일산서구','경기 성남시 수정구','경기 성남시 중원구','경기 수원시 장안구',
'경기 수원시 팔달구','경기 안산시 상록구','경기 용인시 수지구','경기 용인시 처인구','경남 창원시 마산회원구'
,'경남 창원시 성산구','경남 창원시 성산구','경남 창원시 진해구','경북 포항시 북구','전북 전주시 완산구','충남 천안시 서북구','충북 청주시 서원구','충북 청주시 청원구','충북 청주시 흥덕구','경기 수원시 영통구','경기 안양시 만안구','경남 창원시 의창구'])
# 카드데이터에서 wage에 없는 시군구만 삭제하기
card_remove=card[~mask]

In [26]:
# 전처리가 완료된 카드데이터와 시군구별 월소득액 데이터 조인 
card=pd.merge(card_remove,wage)

In [27]:
# 최종확인
card.head()

,DATE,CARD_AREA,CARD_AREA_D,CLASS,HOME,AGE,SEX,HOUSE,CLIENT,AMT,CNT,Wage
0,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,20s,1,1,4,311200,4,1879834
1,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,1,2,7,1374500,8,1879834
2,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,30s,2,2,6,818700,6,1879834
3,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,3,4,1717000,5,1879834
4,201901,강원,강릉시,건강보조식품 소매업,강원 강릉시,40s,1,4,3,1047300,3,1879834

In [28]:
# csv로 저장 
card.to_csv('c:/data/personal/wage_add.csv',index=False)